<link rel="stylesheet" href="{{url_for('static', filename='styles/jsoneditor.min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='javascript/jsoneditor.min.js')}}"></script>
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2/dist/tailwind.min.css"/>
<script src="https://kit.fontawesome.com/8ed78f63e4.js" crossorigin="anonymous"></script>

<div id="jsoneditor" >

  <style type="text/css">
    code {
      background-color: #f5f5f5;
    }

    #jsoneditor {
      height: 100%;
    }
    #button {
     width: 100%;
     padding: 7px;
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     background-color: #3a3a3a;
     cursor: pointer;
     outline: none;
     align-center;
   }
  </style>



  <script>

    $(function () {
       $('#button').click(function(){
         var JsonData = editor.get()
         alert("after updating intents file the model will be retrained with new data");
         $.ajax({
                url: "/jsoneditor",
                method : "POST" ,
                dataType: 'json',
                data :JSON.stringify(JsonData),
                contentType: 'application/json',
                success:function(result){
                  alert(result);
              }
            });
          console.log("error");;
      });
    });






    const container = document.getElementById('jsoneditor')

    const options = {
      mode: 'tree',
      modes: ['tree', 'preview'], // allowed modes
      onError: function (err) {
        alert(err.toString())
      },
      onModeChange: function (newMode, oldMode) {
        console.log('Mode switched from', oldMode, 'to', newMode)
      }
    }

    var json = {{intent | safe}};


    const editor = new JSONEditor(container, options, json)
  </script>
  </div>
  <p>
    <a id="button" class="btn" href="#"><i class="icon-align-center"></i>save</a>
  </p>
